/* Footer */


.footer {
    background-color: var(--accent-color-third);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logo_text--secondary {
    color: var(--accent-color-secondary);
  
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .address-list {
    margin-top: 20px;

    @media screen and (max-width:767px) {
      text-align: center;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
      text-align: center;
    }
    
  }
  .address-list-text {
    color: var(--accent-color-secondary);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 9px;
  }
  .address-list-contact {
    color: rgba(255, 255, 255, 0.6);
  
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
  }
  .address-mail {
    margin-bottom: 9px;
  }
  
  /* Footer icons */
  .footer-primary {
    @media screen and (min-width:768px) {
      display:flex;
      flex-wrap: wrap;
      gap: 50px;
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width:1200px) {
      flex-wrap:nowrap;
    }
  }
  .footer-secondary{

    margin-bottom: 60px;
    
    @media screen and (min-width:767px) and (max-width:1199px) {
      margin-bottom:0;
    }


    @media screen and (min-width:1200px) {
      margin-right: 70px;
    }
   
  }
  .footer-logo-link {
    @media screen and (max-width:767px) {
      display:block;
      text-align: center;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
      display:block;
      text-align:center;
    }
  }
  .signup{
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width:1200px) {
      padding-top: 12px;
    }
    
  }
  .signup-title {
    text-transform: uppercase;
    color: var(--accent-color-secondary);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  .footer-icon {
  fill: var(--accent-color-secondary);
  }
  
  .footer-icons{
    display:flex;
      gap: 10px;
      
      transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (max-width:767px) {
        justify-content: center;
      }
  }
  
  .footer-link {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    width:44px;
    height: 44px;
  
    background-image: linear-gradient(
      to bottom, 
     rgba(255, 255, 255, 0.1) 10%, 
     rgba(255, 255, 255, 0.1));
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  &:hover,
  &:focus{
    background-color:var(--accent-color-primary);
  }

  }
 
  
  
  /* Footer Form */
  
  .footer-form {

    @media screen and (min-width:1200px) {
      min-width: 570px;
    margin-right: auto;
    margin-left: 93px;
    padding-top: 12px;
    }
    
  }

  .email-field {
    background-color: var(--accent-color-third);
    padding: 0;
    height: 50px;
    width: calc((100% - 2 * 15px) / 1);
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media screen and (min-width:768px) and (max-width:1199px) {
      width: 450px;
    }

    @media screen and (min-width:1200px) {
  width: 358px;
  margin-right: 12px;
    }
  
  color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  }
  
  .email-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    letter-spacing: 0.03em;
  }

  .form-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--accent-color-secondary);
  text-transform: uppercase;
  
  margin-bottom: 20px;

  @media screen and (max-width:1199px){
    text-align: center;
  }
  }
  
  .form-btn {
    width: 200px;
    height: 50px;
    
    background-color: var(--accent-color-primary);
    color: var(--accent-color-secondary);
  
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-align: center;
  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
  
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color:#2196F3;
  
  cursor: pointer;

  @media screen and (max-width:1199px) {
    
    margin-left: auto;
    margin-right: auto;
  }
  }
  
  
  .field {
text-align:center;

    @media screen and (min-width:1200px) {display: flex;}
    
  }
  
  .icon-form {
    position: absolute;
  top: 50%;
  }