.offer {
  
    margin-top: 0;
    padding-bottom: 94px;
    padding-top:0;

    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  .offer__list {
  display:flex;
  justify-content: space-between;
  }
  .offer__list .offer__item {
    margin-right:30px;
    position: relative;
    
    &:last-child {
      margin-right:0;
    }
  }
 
  .section-title {
    margin-bottom: 50px;
    text-align:center;
  }
  
  .overlay-offer {
    position:absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
  }
  
  .overlay-offer__text {
    color: var(--accent-color-secondary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  }
  